---
title: Frequently asked questions
---
{% include header.html %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Veelgestelde vragen</h1>
			<p>Met het hele gezin kamperen, dat levert heel wat praktische vragen op. We proberen hier zoveel mogelijk van je vragen te beantwoorden. Je kan ook altijd een mailtje sturen naar <a href="mailto:info@fri3d.be">info@fri3d.be</a> als je nog op je honger blijft zitten.</p>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Wanneer gaat het kamp door?</h3>
				</div>
				<div class="panel-body">
					<p>Het kampprogramma zal beginnen op <strong>zaterdag 13 augustus</strong> in de voormiddag, tot en met <strong>maandag 15 augustus</strong>, iets na de middag.</p>
					<p>Zij die willen helpen met de opbouw zijn welkom vanaf donderdag 11 augustus. De grote meerderheid kampeerders verwachten we op de avond van vrijdag 12 augustus, om eigen tenten op te stellen en het kampeerterrein te verkennen. Na het kamp ben je ook welkom om te helpen afbreken op dinsdag 16 augustus.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Waar gaat het kamp door?</h3>
				</div>
				<div class="panel-body">
					<p>Net zoals onze 2014 editie gaat Fri3d Camp 2016 door op kampeergronden K2 en K8 van <strong>de Hoge Rielen</strong> in Kasterlee.</p>
					<p>Parkeerplaats is voorzien op de parking bij Poort 5, Ossengoor (dat is de straatnaam) in Kasterlee. Let op dat de kampeergronden een dikke kilometer verwijderd zijn van de parking. We zullen een paar bakfietsen en ander rollend materiaal ter beschikking stellen, maar probeer in alle geval licht te pakken!</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Wat valt er zoal te beleven?</h3>
				</div>
				<div class="panel-body">
					<p>Waar het abnormaal lijkt om te kamperen met een laptop, gaan wij er volledig over. We slapen allemaal samen in onze eigen tent op het kampeerterrein, maar overdag zetten we alles op alles om de inner geek te bevredigen. </p>
					<ul>
						<li>We verzorgen een driedaags programma vol natuur, technologie en educatie. We richten plekken in om workshops, tutorials en lezingen te volgen.</li>
						<li>We brengen voldoende stroom en internet mee zodat je zeker af moet kicken van je digitale verslaving.</li>
						<li>In de hackerspace hangar kan je je eigen werkplek inrichten, we zorgen daar voor heel wat high tech werkmateriaal, van soldeerbouten tot 3d printers en misschien weer een groot formaat lasercutter, zoals in 2014?</li>
						<li>Kinderen krijgen hun eigen plek om workshops en tutorials te volgen, of om vrij te spelen en te knutselen.</li>
						<li>Er wordt een grote centrale bar ingericht, we eten allemaal samen een warme maaltijd op zaterdag- en zondagavond, en genieten bij het kampvuur van een gezellige geeky babbel.</li>
						<li>Er is veel plek om buiten te spelen, constructies te bouwen in het bos. Op de Hoge Rielen kan je ook gaan zwemmen in 1 van de zwemvijvers of een natuurwandeling maken.</li>
					</ul>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Mijn kindje is nog maar X jaar, gaat ie er wel iets aan hebben?</h3>
				</div>
				<div class="panel-body">
					<p>We richten het kamp in voor gezinnen en is in eerste plaats <strong>kindvriendelijk</strong>, zelfs de jongste telg kan daarom zeker mee.</p>
					<p>Er wordt in het opzetten van het programma heel wat aandacht geschonken aan content voor kinderen. We richten voor onze 2016 editie zelfs een volledige eigen speel- en workshopplek voor kinderen in. We leren kinderen daar solderen (vanaf 3 jaar), robots bouwen, t-shirts schilderen, ... En bij het kampvuur vertellen we samen een verhaaltje voor het slapen gaan. </p>
					<p>Ook je jongste telg is dus zeer welkom om mee te gaan kamperen.</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ik ben een hacker-in-mijn-ukkie, zonder gezin, ga ik er wel iets aan hebben?</h3>
				</div>
				<div class="panel-body">
					<p>Het kamp werd oorspronkelijk ingericht als een tweejaarlijks samenzijn van Belgische nerds, omdat kamperen met nerds fantastisch is en we geen twee jaar kunnen wachten tussen de grote internationale Nederlandse en Duitse kampen. Het kamp is gezinsvriendelijk omdat heel wat nerds iets ouder geworden zijn en intussen kinderen hebben, en ze samen met hun gezin de wereld van de high tech willen ontdekken.</p>
					<p>In de opzet van het kamp en het programma vergeten we daarom zeker de papa's en mama's, en alle andere nerds, dus zeker niet, en richten een hoop activiteiten in voor alle leeftijden.</p>
					<p>We hopen dus zeker dat het gezinsvriendelijke karakter je niet afschrikt, er zal meer dan voldoende volwassen geektalk op het kamp aanwezig zijn!</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">This is a Belgian camp, why is everything in Dutch?</h3>
				</div>
				<div class="panel-body">
					<p>At our first event in 2014, we noticed that a majority of attendees (and their children) were Flemish. A lot of the content and communication in camp was therefore in Dutch. Instead of pretending to be an English speaking event, we have moved our main communication to Dutch.</p>
					<p>However, you are very welcome to join camp, even if you don't speak Flemish, as most of the adults are fluent in English and some adult content will be offered in English.</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Waar kan ik tickets krijgen/reserveren?</h3>
				</div>
				<div class="panel-body">
					<p>Onze ticketshop zal pas open gaan als we een volledig programma bij elkaar hebben. We doen ons uiterste best de ticketshop te openen op 1 juni, maar deze datum kan nog verschuiven.</p>
					<p>Er zullen maximaal 256 tickets verkocht worden, hou daarom zeker onze <a href="http://twitter.com/Fri3dCamp">Twitter account</a> in het oog voor updates, want op is op!</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Hoeveel zullen de tickets kosten?</h3>
				</div>
				<div class="panel-body">
					<p>We doen ons uiterste best een eerlijke prijs voor het kamp te zoeken. We doen extra moeite om het ook voor gezinnen betaalbaar te maken.</p>
					<p>Tickets bevatten je kampverblijf op de Hoge Rielen, toegang tot alle kampactiviteiten en twee warme maaltijden op zaterdag- en zondagavond.</p>
					<p>Voor een richtprijs, onze ticketprijzen voor <strong>2014</strong> waren alsvolgt:</p>
					<table class="table">
						<tr>
							<th>Ticket</td>
							<th>Becshrijving</td>
							<th>Prijs</td>
						</tr>
						<tr>
							<td>3bit standard ticket</td>
							<td>Jonger dan 3 jaar</td>
							<td>8€</td>
						</tr>
						<tr>
							<td>4bit ticket</td>
							<td>Jonger dan 6 jaar</td>
							<td>16€</td>
						</tr>
						<tr>
							<td>5bit ticket</td>
							<td>Jonger dan 12 jaar</td>
							<td>32€</td>
						</tr>
						<tr>
							<td>6bit ticket</td>
							<td>Jonger dan 24 jaar</td>
							<td>64€</td>
						</tr>
						<tr>
							<td>6bit vrijwilligersticket</td>
							<td>Jonger dan 24 jaar, ouder dan 16 jaar, helpt met shiften</td>
							<td>32€</td>
						</tr>
						<tr>
							<td>7bit vrijwilligersticket</td>
							<td>Volwassene, helpt met shiften</td>
							<td>96€</td>
						</tr>
						<tr>
							<td>7bit ticket</td>
							<td>Volwassene, standaardticket</td>
							<td>128€</td>
						</tr>
						<tr>
							<td>8bit business ticket</td>
							<td>Volwassene, dit is de enige optie om een ticket op factuur te krijgen.</td>
							<td>256€ (+21% BTW)</td>
						</tr>
					</table>
					<p>Let op dat dit richtprijzen zijn en de prijzen voor 2016 anders zullen zijn.</p>
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Wat eten en drinken we?</h3>
				</div>
				<div class="panel-body">
					<p>Je ticket bevat twee warme groepsmaaltijden, op zaterdag- en zondagavond. Net zoals vorige keer richten we voor iedereen deze maaltijden in, zodat iedereen van voldoende suikers, proteïnen en vetten wordt voorzien, maar ook omdat het gezellig is samen te eten. Vorige keer hadden we een barbecue en kip-met-friet of een vegetarisch alternatief, het menu zal dit jaar gelijkaardig zijn.</p>
					<p>Voor andere maaltijden vragen we je zelfvoorzienend te zijn. Pak dus zeker een stapel fruit, koeken, beleg, etc mee. Je zal bij de infobalie van het kamp vers brood kunnen bestellen bij de bakker van de Hoge Rielen.</p>
					<p>Aan de bar zal je doorlopend terecht komen voor een fris drankje of een gezonde en energieke snack.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Hoe kan ik helpen?</h3>
				</div>
				<div class="panel-body">
					<p>Hoewel een team achter de coulissen hard aan het werk is van deze editie een topevent te maken, is alle extra hulp uiteraard welkom. Laat ons op <a href="mailto:info@fri3d.be">info@fri3d.be</a> weten hoe je wil helpen.</p>
					<ul>
						<li>We gaan ervan uit dat iedereen vrijwilliger is en hier en daar een shift op zich wil nemen, om bvb de bar te bemannen of mee een paar vleesjes te grillen tijdens onze BBQ. Wil je geen shiften doen, dan betaal je iets meer voor je ticket.</li>
						<li>In februari/maart lanceren we een "Call for Participation", waar je tutorials, workshops en lezingen kan suggereren om ons programma mee te helpen vullen.</li>
						<li>We kunnen altijd mensen gebruiken voor de opbouw of afbraak, en zorgen dat je ook voor dat harde werk extra in de watten wordt gelegd.</li>
						<li>Alle andere suggesties om ons kamp op poten te helpen zetten zijn zeer welkom!</li>
				</div>
			</div>

		</div>
	</div>
{% include javascript.html %}
{% include footer.html %}