---
layout: page
title: Veelgestelde vragen
tagline: Zo overleef je Fri3d Camp
questions:
  - groupname: Tickets
    questions:
    - question: Wanneer kan ik een ticket kopen?
      anchor: ticketdate
      answer: >
        <p>Onze publieke ticketverkoop start woensdag <strong>1 juni 2016, om 21:00 </strong>stipt. Let op, we verwachten in een flits uit te verkopen!</p>
        <p>Via onze <a href="https://twitter.com/Fri3dCamp">twitter</a>, <a href="https://www.facebook.com/events/562016213967621">facebook</a> en <a href="/contact">mailing lijst</a> wordt je tijdig geïnformeerd hoe je je best voorbereid op onze verkoop.</p>
      
    - question: Hoeveel zullen de tickets kosten?
      anchor: ticketprice
      answer: >
        <p>Ticketprijzen zijn <strong>leeftijdsafhankelijk</strong>. We mikken er op het voor kinderen, jongeren en gezinnen betaalbaar te houden en de vele kosten toch netjes naar een financiële nuloperatie te leiden.</p>
        <p>We proberen de prijzen te houden zoals in 2014. Voor 3 dagen kamperen met 2 warme maaltijden op zaterdag- en zondagavond, drie dagen workshops en toegang tot alle faciliteiten, zijn onze huidige <strong>richtprijzen</strong>:</p>
        <ul>
          <li>jonger dan 3 jaar = <strong>8€</strong></li>
          <li>jonger dan 6 jaar = <strong>16€</strong></li>
          <li>jonger dan 12 jaar = <strong>32€</strong></li>
          <li>jonger dan 24 jaar = <strong>64€</strong></li>
          <li>24 jaar en ouder = <strong>128€</strong></li>
          <li>business ticket, met factuur, en vermelding indien gewenst = <strong>256€</strong></li>
        </ul>
        <p>We doen ons best een <strong>incentive</strong> te verzorgen voor mensen die hun activiteiten mogen brengen, of een premium extraatje als je bvb geen vrijwilligersshift wil doen.</p>
        <p>Deelnemers die jonger zijn dan <strong>18 jaar</strong> moeten begeleid worden door een volwassene. Het is zeker niet de bedoeling je kind alleen naar dit kamp te sturen.</p>
        <p>Er zijn <strong>geen dagtickets</strong>. Tickets zijn alles-of-niets: onze deelnemers gaan voor de volle experience. We kunnen om veiligheidsredenen geen bezoekers ontvangen. Als je als lid van de pers Fri3d Camp 2016 wil bezoeken, contacteer dan <a href="mailto:info@fri3d.be">info@fri3d.be</a>.</p>
    
  - groupname: Kamp
    questions:
    - question: Wat valt er zoal te beleven?
      anchor: campwhattodo
      answer: >
        <p>Waar het abnormaal lijkt om te <strong>kamperen met een laptop</strong>, gaan wij er volledig over. Overdag zetten we alles op alles om de inner geek te bevredigen en na een pintje bij het kampvuur slapen we allemaal in onze eigen tent op het kampeerterrein. </p>
        <ul>
          <li>We organiseren een <strong>driedaags programma</strong> met activiteiten van de deelnemers zelf, vol natuur, technologie, maken, leren en delen. We richten plekken in om workshops, tutorials en lezingen te volgen. Ons <a href="http://program.fri3d.be/">programma van 2014</a> geeft je een voorsmaakje.</li>
          <li>We brengen voldoende <strong>stroom en internet</strong> mee zodat je zeker niet moet afkicken van je digitale verslaving. Je geekiest toys zijn zeer welkom.</li>
          <li>De <strong>main hangar</strong> (loods LK8) is het centrale punt van ons kamp. Je vindt er de infodesk, de main stage, de fietsengarage en tafels om te eten.</li>
          <li>In de <strong>hackerspace hangar</strong> (loods 318) zorgen we voor 300 vierkante meter plek om werkplekken in te richten. Beschermd van weer en wind brengen we samen onze machinerie en showcase projectjes bij elkaar, van je soldeerbout tot 3d printers en misschien weer een groot formaat lasercutter, zoals in 2014?</li>
          <li>Kinderen krijgen in de <strong>kids tent</strong> hun eigen plek om workshops en tutorials te volgen, of om vrij te spelen en te knutselen.</li>
          <li>Er wordt een grote centrale <strong>bar</strong> ingericht, we eten <strong>allemaal samen</strong> een <strong>warme maaltijd</strong> op zaterdag- en zondagavond, en genieten bij het kampvuur van een frisse pint en een geeky babbel.</li>
          <li>Naast het 1000 vierkante meter grote centrale plein beschikken we over <strong>3000 vierkante meter kampeerterrein</strong> om je tent op te slaan. Onze twee campings K2 en K8 liggen naast elkaar en hebben elk hun eigen sanitaire blok met toiletten en (koude) douches.</li>
          <li>Er is veel plek om <strong>buiten</strong> te <strong>spelen</strong>, constructies te bouwen, of veilig op avontuur te gaan in het bos. Op de Hoge Rielen kan je ook gaan zwemmen in 1 van de zwemvijvers of een natuurwandeling maken.</li>
        </ul>
  
    - question: Mijn kindje is nog maar X jaar, gaat ie er wel iets aan hebben?
      anchor: campchildren
      answer: >
        <p>Het kamp is <strong>kindvriendelijk</strong>, zelfs de jongste telg kan daarom zeker mee.</p>
        <p>Er wordt in het opzetten van het programma heel wat aandacht geschonken aan content voor kinderen. We richten voor onze 2016 editie zelfs een volledige eigen speel- en workshopplek voor kinderen in. We leren ze daar solderen (vanaf 3 jaar met hulp van mama of papa), robots bouwen, t-shirts schilderen, een bosspel, ... En bij het kampvuur vertellen we samen een verhaaltje voor het slapen gaan. </p>
        <p>Ook de jongste is dus zeer welkom om mee te gaan kamperen.</p>
  
    - question: Ik ben een hacker zonder gezin, wat is mijn plaats op een "gezinsvriendelijk" kamp?
      anchor: camphacker
      answer: >
        <p>Het kamp wil ook na zijn eerste editie van 2014 een <strong>tweejaarlijks samenzijn van Belgische hackers</strong> zijn, omdat kamperen met collega geeks fantastisch is en we geen twee jaar kunnen wachten tussen de grote internationale Nederlandse en Duitse kampen. Het kamp is gezinsvriendelijk omdat heel wat nerds nu ook geeky kinderen hebben, en ze samen met hun gezin de wereld van de high tech willen ontdekken.</p>
        <p>In de opzet van het kamp en het programma willen we niemand missen &mdash; hacker zijn, dat kan als je 18, 6 of 53 jaar bent &mdash; en we verwelkomen op Fri3d Camp alle leeftijden en alle niveau's.</p>
      
    - question: I thought this was a Belgian camp, why is everything in Dutch?
      anchor: campenglish
      answer: >
        <p>At our first event in 2014, we learned that the majority of attendees (and their children) were Flemish. A lot of the camp content and communication was therefore in Dutch. Instead of pretending to be an English speaking event, we have changed our main communication to Dutch.</p>
        <p>Non-Flemish speakers are of course very <strong>welcome</strong> to join camp. Most of our attendees are fluent in English.</p>
        <p>Our <a href="/uitnodiging/en"><strong>Call for Participation</strong></a> is also available in English, your content and presence is welcomed!<p>
          
  - groupname: Praktisch
    questions:
    - question: Wanneer gaat het kamp door?
      anchor: campdate
      answer: >
        <p>Het kampprogramma zal beginnen op <strong>zaterdag 13 augustus</strong> in de voormiddag, tot en met <strong>maandag 15 augustus</strong> (een vrije dag!), in de namiddag. Ten vroegste om 16:00 beginnen we met een massale afbraak.</p>
        <p>We verwachten de meeste kampeerders vrijdagavond 12 augustus, na het avondeten, om de tenten op te slaan en het kamp te verkennen. </p>
        <p>Op dinsdag 16 augustus, de dag na het kamp, zoeken we <strong>vrijwilligers</strong> om te helpen met de afbraak en opruim van het kamp, met pizza en drank. Laat ons zeker weten als je ons die dag kan helpen!</p>
        <p>Om ons te helpen met de opbouw ben je welkom vanaf donderdag 11 augustus, maar dan laat je ons ook best iets weten.</p>
      
    - question: Waar gaat het kamp door?
      anchor: camplocation
      answer: >
        <p>Net zoals onze eerste editie in 2014, vindt Fri3d Camp 2016 plaats op kampeergronden K2 en K8 van <strong>de Hoge Rielen</strong> in Kasterlee.</p>
        <p>Parkeerplaats is voorzien op de parking bij <strong>Poort 5</strong>, <strong>Ossengoor</strong> (dat is de straatnaam) in <strong>Kasterlee</strong>. Let op dat de kampeergronden een dikke kilometer verwijderd zijn van de parking. We zullen een paar bakfietsen en ander rollend materiaal ter beschikking stellen, maar probeer in alle geval licht te pakken!</p>
      
    - question: Wat eten en drinken we?
      anchor: fooddrinks
      answer: >
        <p>Je <strong>ticket bevat twee warme maaltijden</strong>, op zaterdag- en zondagavond, omdat het aangenaam is samen te eten. Net zoals vorige keer richten we voor iedereen deze maaltijden in, inclusief in de ticketprijs, zodat iedereen van voldoende suikers, proteïnen en vetten wordt voorzien.</p>
        <p>Voor <strong>andere maaltijden</strong> vragen we je <strong>zelfvoorzienend</strong> te zijn. Pak dus zeker een stapel fruit, koeken, beleg, etc mee. Je zal bij de infobalie van het kamp vers brood kunnen bestellen bij de bakker van de Hoge Rielen.</p>
        <p>Aan de <strong>bar</strong> kan je doorlopend terecht voor een fris drankje of een gezonde en energieke snack.</p>
      
    - question: Wat breng ik mee?
      anchor: whattobring
      answer: >
        <p>We maken dichter bij het kamp een preciezere lijst op van spullen die je mee kan/moet nemen. Je mag je verwachten aan:</p>
        <ul>
          <li><strong>Tent</strong> en slaapspullen voor je gezin.</li>
          <li>Stroomkabels, <strong>laptop</strong>, gadgets en vliegende 3d printers.</li>
          <li><strong>Ontbijt</strong> en <strong>middagmaal</strong> voor je gezin. We verzorgen voor iedereen warme avondmaaltijden, inclusief in het ticket. Je kan brood bij de lokale bakker bestellen via de infodesk (deadline 15:00 de dag voordien).</li>
          <li>Veel <strong>blinkenlichtjes</strong> om je tent en het kamp te versieren. [seriously]</li>
          <li>Als je een <strong>fiets</strong> kan transporteren, dan zal die goed van pas komen, zeker als je hem wil delen met andere deelnemers. Er wordt een deel-je-fiets-garage bij de infodesk ingericht.</li>
          <li><strong>Goesting</strong>.</li>
        </ul>
      
    - question: Kampregels
      anchor: camprules
      answer: >
        <ul>
          <li>In geval van <strong>nood</strong>, contacteer <strong>014 55 84 10</strong> (De Hoge Rielen 24/7 front desk), bel pas daarna 112. Noodhulp kan ons enkel onder begeleiding bereiken.</li>
          <li>Wees <strong>excellent</strong> voor elkaar.</li>
          <li><strong>Iedereen is vrijwilliger.</strong> Wees pro-actief en laat geen werkje ongemoeid.</li>
          <li>Laat het kampeerterrein <strong>netter</strong> achter dan hoe je het aantrof.</li>
          <li><strong>Ouders</strong> zijn verantwoordelijk voor hun kinderen en hun veiligheid. Bezoekers onder 18 jaar moeten begeleid worden door een volwassene. Schrijf je telefoonnummer op de armband van je kind.</li>
          <li>Respecteer de privacy van de bezoekers.</a>
          <li>Verwijs bezoekers zonder <strong>armband</strong> naar de infodesk.</li>
          <li>De <strong>infodesk</strong> in loods LK8 is het centrale punt van communicatie.</li>
          <li>Respecteer het <a href="http://www.dehogerielen.be/sites/default/files/hoge-rielen/ACTUEEL_Reglement%20dHR%20DEFINITIEF%20RvB%202014_11_19.pdf">reglement</a> van de Hoge Rielen. We houden het rustig tussen 22:00 en 08:00. Kampvuur enkel na toestemming van de infodesk, op kampvuurplaatsen en met 10 emmers water.</li>
          <li>Gehoorzaam de <strong>zwaartekracht</strong>.</li>
        </ul>
      
    - question: Wie organiseert dit kamp?
      anchor: orgateam
      answer: >
        <p>Een dedicated team vrijwilligers zorgt achter de schermen voor de omkadering:</p>
        <ul>
          <li><strong>Anthony Liekens</strong>: Master of ceremonies</li>
          <li><strong>Christophe Van Ginneken</strong>: Content, Badge</li>
          <li><strong>Dries De Roeck</strong>: Content, Design</li>
          <li><strong>Els De Ketelaere</strong>: Money</li>
          <li><strong>Ilias Barthelemy</strong>: Logistics</li>
          <li><strong>Ivo van den Maagdenberg</strong>: Food & drinks</li>
          <li><strong>Jef Van den Broeck</strong>: Tickets</li>
          <li><strong>Tim Lathouwers</strong>: Lights</li>
          <li><strong>Toon Van De Putte</strong>: Design</li>
        </ul>
        <p>Het legale en financiële management van Fri3d Camp 2016 gebeurt door IO Lab BVBA, BE 0568.677.247. Het KBC rekeningnummer voor Fri3d Camp is BE62 7350 4247 3961.</p>
        
    - question: Hoe kan ik helpen?
      anchor: howtohelp
      answer: >
        <p>Hoewel een team achter de coulissen hard aan het werk is van deze editie een topevent te maken, is alle extra hulp uiteraard welkom. Laat ons op <a href="mailto:info@fri3d.be">info@fri3d.be</a> weten hoe je wil helpen.</p>
        <ul>
          <li>We gaan uit van het principe <strong>iedereen is vrijwilliger</strong>. Iedereen neemt een shift voor zich, om bvb de bar te bemannen of mee een paar vleesjes te grillen tijdens onze BBQ. Wil je geen shiften doen, dan betaal je iets meer voor je premium ticket.</li>
          <li>Heel wat van onze deelnemers hebben <strong>activiteiten</strong> ingezonden voor ons <a href="/programma">programma</a>. Voel je vrij om van onze faciliteiten gebruik te maken om zelf nog iets te organiseren, onze officiële uitnodiging tot deelname is helaas verstreken.</li>
          <li>We kunnen altijd mensen gebruiken voor de <strong>opbouw en afbraak</strong>, en zorgen dat je ook voor dat harde werk extra in de watten wordt gelegd.</li>
          <li>Sta je met je bedrijf achter het gedachtengoed dat Fri3d Camp verspreid? We kunnen je hulp via <strong>sponsoring</strong> goed gebruiken, contacteer ons via <a href="mailto:info@fri3d.be">info@fri3d.be</a>.</li>
          <li>Alle andere <strong>suggesties</strong> om ons kamp op poten te helpen zetten zijn zeer welkom!</li>
        </ul>

---

<p>Kamperen, met het gezin of een stapel computers, dat levert heel wat praktische vragen op. We proberen hier zoveel mogelijk van je vragen te beantwoorden. Je kan ook altijd een mailtje sturen naar <a href="mailto:info@fri3d.be">info@fri3d.be</a> als je nog op je honger blijft zitten.</p>

<hr/>
{% for group in page.questions %}
  <h3>{{ group.groupname }}</h3>
  <ul>
    {% for item in group.questions %}
      <li><a href="#{{ item.anchor }}">{{ item.question }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

{% for group in page.questions %}
  <hr/>
  <h2>{{ group.groupname }}</h2>
  {% for item in group.questions %}
    <br/>
    <h3 class="anchor"><a name="{{ item.anchor }}"></a>{{ item.question }}</h3>
  	{{ item.answer }}
  {% endfor %}
{% endfor %}
