---
title: Content
---
{% include header.html %}
    <div class="jumbotron">
      <div class="container">   
        <h1>Programma</h1>
        <p>Dit schema wordt live up to date gehouden.</p>
      </div>
    </div>
    <div class="container"> 
      <script>
      function drawday() {
        var startat=10;
        var endat = 22;
        var returnedcontent = "";
        for (var i=startat;i<=endat;i++) {
          if (i<endat) {
            returnedcontent+="<div class=\"schedule-row schedule-row-hour\"><div class=\"schedule-halfhour\"><p class=\"schedule-timelabel\">"+i+":00</p><p class=\"schedule-timelabel\">"+i+":15</p></div><div class=\"schedule-halfhour\"><p class=\"schedule-timelabel\">"+i+":30</p><p class=\"schedule-timelabel\">"+i+":45</p></div></div>";
          } else {
            returnedcontent+="<div class=\"schedule-row schedule-row-hour\"><div class=\"schedule-halfhour\"><p class=\"schedule-timelabel\">"+i+":00</p></div></div>";
          }
        }
        //console.log(returnedcontent);
        return returnedcontent
      }
      </script>    
      <div class="schedule clearfix">
        <div class="row">
          <!-- begin dag 1 -->
          <div class="col-md-4 schedule-col" id="day1">      
            <article class="schedule-item" data-event-start="1000" data-event-end="1045" style="top:0px;height:90px;">
              <a class="schedule-clickarea bg1" href="#">Opening</a>
            </article>
            <article class="schedule-item" data-event-start="1100" data-event-end="1215" style="top:120px;height:150px;">
              <a class="schedule-clickarea" href="#">Testgegevens</a>
            </article>
            <article class="schedule-item" data-event-start="1215" data-event-end="1315" style="top:270px;height:120px;">
              <a class="schedule-clickarea" href="#">Testgegevens</a>
            </article>
          </div> 
          <!-- end dag 1 -->    
          <!-- begin dag 2 -->
          <div class="col-md-4 schedule-col" id="day2">       
          </div> 
          <!-- end dag 2 -->         
          <!-- begin dag 3 -->
          <div class="col-md-4 schedule-col" id="day3">    
          </div> 
          <!-- end dag 3 -->        
        </div>
      </div>
      {% include pagefooter.html %}
    </div> <!-- /container -->
{% include javascript.html %}
    <script>
      $(document).ready(function() {
        //console.log( "ready!" );
        $("#day1").prepend(drawday());
        $("#day2").prepend(drawday());
        $("#day3").prepend(drawday());
      });      
    </script>
{% include footer.html %}