---
title: Programma
tagline: Wat valt er te beleven?
layout: page
---
<div class="schedule clearfix">
    <h2>Zaterdag</h2>
    <div class="row">
        {% for track in site.data.tracks %}
        <!-- begin track "{{ track }}" -->
        <div class="col-md-3 schedule-col">
            <h3>{{ track }}</h3>
            <div class="schedule-items" id="track1">
                {% include programma-hours.html %}
                {% for activity in site.data.activitiesjson %}
                {% if activity.type == track %}
                <article class="schedule-item" data-event-start="10:00" data-event-end="10:45">{{ activity.title }}
                    <a class="schedule-clickarea bg1" href="#"><span>{{ activity.speakers }}</span></a>
                </article>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- end track 1 -->
        {% endfor %}
    </div>
</div>
