---
title: Programma
tagline: Wat valt er te beleven?
layout: page
---
<div class="schedule clearfix">
    {% for day in site.data.days %}
    <h2>{{ day | capitalize }}</h2>
    <div class="row">
        <div class="container visible-sm visible-xs">
            <ul class="nav nav-pills" id="tracksnav">
              {% assign active = true %}
              {% for track in site.data.tracks %}
              <li role="presentation" class="{% if active == true %}active{% assign active = false %}{% endif %}"><a href="#track-{{ track | remove: " " | downcase }}">{{ track }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class="schedule-cols">
            {% for track in site.data.tracks %}
            <!-- begin track "{{ track }}" -->
            <div class="col-md-3 schedule-col" id="track-{{ track | remove: " " | downcase }}-{{ day }}">
                <h3>{{ track }}</h3>
                <div class="schedule-items">
                    {% include programma-hours.html %}
                    {% for activity in site.data.activitiesjson %}
                      {% if activity.timing.day == day %}
                        {% if activity.track == track %}
                          {% assign kwartier_height = 30 %}
                          {% assign hour_height     = kwartier_height | times: 4 %}
                          {% assign start           = activity.timing.start | split: ':'%}
                          {% assign start_min_top   = start[1] | divided_by: 15 | times: kwartier_height %}
                          {% assign start_top       = start[0] | minus: 10 | times: hour_height | plus: start_min_top %}
                          {% assign end             = activity.timing.end | split: ':' %}
                          {% assign duration_hour   = end[0] | minus: start[0] %}
                          {% assign duration_min    = end[1] | minus: start[1] | divided_by: 15 %}
                          {% assign duration_height = duration_hour | times: 4 | plus: duration_min | times: kwartier_height %}
                    <article class="schedule-item {{ activity.type }}"
                             data-event-start="{{ activity.timing.start }}"
                             data-event-end="{{ activity.timing.end }}"
                             style="top:{{ start_top }}px;height:{{ duration_height }}px;">{{ activity.title }}
                        <a class="schedule-clickarea bg1" href="#"><span>{{ activity.speakers }}</span></a>
                    </article>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- end track "{{ track }}" -->
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
