{% for activity in site.data.activities %}
  {% unless activity.hide %}
  <article class="contentitem activity" id="{{ activity.title | slugify }}-{{ activity.timing.day | slugify }}-{{ activity.timing.start | slugify }}">
    <a class="modal_close">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-close fa-stack-1x fa-inverse"></i>
        </span><span class="sr-only">Sluiten</span>
    </a>
    <header>
      <h3><a href="/{{ activity.id }}-{{ activity.title | slugify }}.html">{{ activity.title }}</a></h3>
      <p>type: <span class="fact type-{{ activity.type }}">{{ activity.type }}</span> - op <span class="fact">{{ activity.timing.day }}</span> {{ activity.timing.date }} van {{ activity.timing.start }} tot {{ activity.timing.end }} - locatie: <a class="fact" href="locaties#{{ activity.track | remove: "(" | remove: ")" | slugify }}">{{ activity.track }}</a></p>
    </header>
    <p>{{ activity.description }}</p>
    <footer>
    <p>door: {% for speaker in activity.speakers %} <span class="speaker">{{speaker}}</span> {% endfor %}</p>
    </footer>
  </article>
  {% endunless %}
{% endfor %}
