<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page.title}} | Fri3d Camp 2016</title>
   <!-- Bootstrap  CSS -->
   <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
   <!-- Google fonts -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <!-- fontawesome -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- fri3d stylesheet includes bootstrap styles -->
    <link href="/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if page.title == "Home" %} class="active"{% endif %} ><a href="/">Fri3d Camp</a></li>
            <li {% if page.title == "Locatie" %} class="active"{% endif %} ><a href="/locatie/">Locatie</a></li>
            <li {% if page.title == "Tickets" %} class="active"{% endif %} ><a href="/tickets/">Tickets</a></li>
            <li {% if page.title == "Vorige editie" %} class="active"{% endif %} ><a href="/fri3d2014/">Vorige Editie</a></li>
            <li {% if page.title == "Programma" %} class="active"{% endif %} ><a href="/programma/">Programma</a></li>
            <li {% if page.title == "Contact" %} class="active"{% endif %} ><a href="/contact/">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
