<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script>


$(document).ready(function() {
    // enable modal popups
    $("a[rel*=leanModal]").leanModal({closeButton: ".modal_close" });
    // tracksnav switcher
    $(".tracksnav a").click(function(e) {
        e.preventDefault();
        var mytarget = $(this).attr('href');
        $(this).parent().addClass("active");
        $(this).parent().siblings().removeClass("active");
        $(mytarget).insertBefore($(mytarget).siblings().first());
        //$(".schedule-cols").children().not(mytarget).hide();
        //$(".schedule-cols").children(mytarget).show();
    });
});

</script>
