<nav class="navbar navbar-default navbar-fixed-top headerbg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="herolink{% if page.title == "Home" %} active{% endif %}" ><a href="/">{% include logo.html %} Fri3d Camp</a></li>
        <li {% if page.title == "Programma" %} class="active"{% endif %} ><a href="/programma/">Programma</a></li>
        <li {% if page.title == "Tickets" %} class="active"{% endif %} ><a href="https://tickets.fri3d.be/tickets" target="_blank">Tickets</a></li>
        <li {% if page.title == "Veelgestelde vragen" %} class="active"{% endif %} ><a href="/faq/">FAQ</a></li>
        <li {% if page.title == "Sponsors" %} class="active"{% endif %} ><a href="/sponsors/">Sponsors</a></li>
        <li {% if page.title == "Contact" %} class="active"{% endif %} ><a href="/contact/">Contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
