      <footer class="footer footer-fri3d">
      	<div class="container">
      	<div class="pull-left footerlogo">{% include logo.html %} Fri3d Camp 2016</div>
      	<div class="pull-right"> <p>Je mag de informatie, beelden en logo's op deze site <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.nl">vrij verspreiden</a>.<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.nl"><img class="cclicense" alt="Creative Commons-Licentie" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></p></div>
       </div>
      </footer>