<!-- .schedule-hours -->
<div class="schedule-hours">
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">10:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">10:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">11:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">11:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">12:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">12:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">13:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">13:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">14:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">14:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">15:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">15:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">16:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">16:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">17:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">17:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">18:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">18:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">19:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">19:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">20:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">20:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">21:00</p>
        </div>
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">21:30</p>
        </div>
    </div>
    <div class="schedule-row schedule-row-hour">
        <div class="schedule-halfhour">
            <p class="schedule-timelabel">22:00</p>
        </div>
    </div>
</div>
<!-- /.schedule-hours -->
