<div class="row socialbuttons">
	<div class="col-md-4">
		<a href="http://twitter.com/fri3dcamp" class="icon">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
			Twitter
		</a>
	</div>
	<div class="col-md-4">
		<a href="https://www.facebook.com/events/562016213967621/" class="icon">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span>
			Facebook
		</a>
	</div>
	<div class="col-md-4">
		<a href="https://www.youtube.com/channel/UC4po-Ek-8MplssA_h73SSWg" class="icon">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
			</span>
			YouTube
		</a>
	</div>
</div>
