<div class="socialbuttons">
	<p>
		<a href="http://twitter.com/fri3dcamp" class="icon">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
			Volg @Fri3dCamp op Twitter
		</a>
	</p>
	<p>
		<a href="https://www.facebook.com/events/562016213967621/" class="icon">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span>
			Volg Fri3d Camp 2016 op Facebook
		</a>
	</p>
</div>