{% include header.html %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    
    <div class="center-block" id="mainlogo" class="logo">{% include logo.html %} <div class="logo-name">F<span style="letter-spacing: -5px;">r</span>i<span style="letter-spacing: -3px;">3d</span><br>C<span style="letter-spacing: -3px;">a</span><span style="letter-spacing: -8px;">mp</span></div><div class="logo-year">2016</div></div>
    
    <p>{{page.intro}}</p>  
    
    <hr/>
    
  <div class="row">
    
    <div class="col-md-6">
      <h3><a href="/uitnodiging">Uitnodiging tot Deelname</a></h3>
      <p>
        De beste manier om aan Fri3d Camp 2016 deel te nemen is door zelf een activiteit aan ons programma bij te dragen.
        Lees daarom zeker onze <a href="/uitnodiging">Uitnodiging tot Deelname</a>.
      </p>
    </div>  
      
    <div class="col-md-6">
      <h3><a href="/faq">Veelgestelde vragen</a></h3>
      <p>
        Kamperen met het hele gezin en je halve werkplek in je rugzak, dat roept heel wat vragen op.
        Je vindt al een pak antwoorden bij onze <a href="/faq">Veelgestelde vragen</a>.
      </p>
    </div>
    
  </div>
    <hr/>
    
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    
    <div class="col-md-6">
      {{page.watisfri3d}}
    </div>  
      
    <div class="col-md-6">
      {% include carousel2014.html %}
    </div>
    
  </div>

  <hr/>
  
  {% include poster.html %}
  
  <hr/>

  <div class="row">

    <div class="col-md-6">
      <h2>Blijf op de hoogte</h2>
      {% include mc_form.html %}
      {% include socialbuttons.html %}
    </div>
    
    <div class="col-md-6">
      {{page.kalender}}
    </div>  
      
  </div>
  
</div> <!-- /container -->

{% include pagefooter.html %}
{% include javascript.html %}
{% include footer.html %}