{% include header.html %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    
    <div class="center-block" id="mainlogo" class="logo">{% include logo.html %} <div class="logo-name">F<span style="letter-spacing: -5px;">r</span>i<span style="letter-spacing: -3px;">3d</span><br>C<span style="letter-spacing: -3px;">a</span><span style="letter-spacing: -8px;">mp</span></div><div class="logo-year">2016</div></div>
    
    <div class="well well-fri3d text-center">
      13 tem. 15 augustus, Hoge Rielen (Kasterlee,&nbsp;België)
    </div>
    <p>{{page.intro}}</p>  
    
    <hr/>
    
    <p class="text-center">
      <a href="/assets/Fri3dCamp2016Poster.pdf" target="_blank" class="btn btn-info btn-lg">
        Download de Fri3d Camp 2016 poster
      </a>
    </p>    
    <p class="text-center">
      Wil je onze poster op glossy A3, om ergens uit te hangen?<br/>
      <a href="mailto:info@fri3d.be">
        Laat ons iets weten!
      </a>
    </p>
  
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    
    <div class="col-md-6">
      {{page.watisfri3d}}
    </div>  
      
    <div class="col-md-6">
      {% include carousel2014.html %}
    </div>
    
  </div>

  <hr/>

  <div class="row">

    <div class="col-md-6">
      <h2>Blijf op de hoogte</h2>
      {% include mc_form.html %}
      {% include socialbuttons.html %}
    </div>
    
    <div class="col-md-6">
      {{page.kalender}}
    </div>  
      
  </div>
  
</div> <!-- /container -->

{% include pagefooter.html %}
{% include javascript.html %}
{% include footer.html %}