{% include header.html %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <div class="center-block" id="mainlogo" class="logo">{% include logo.html %} <div class="logo-name">F<span style="letter-spacing: -5px;">r</span>i<span style="letter-spacing: -3px;">3d</span><br>C<span style="letter-spacing: -3px;">a</span><span style="letter-spacing: -8px;">mp</span></div><div class="logo-year">2016</div></div>
    <p>{{page.intro}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>Blijf op de hoogte</h2>
        <p>Wil je weten wat de toekomst brengt voor Fri3d Camp? Schrijf je dan in op de mailinglist of volg één van de Fri3d social media kanalen.</p>
    </div>
    <div class="col-md-6">
      {% include mc_form.html %}
    </div>
    <div class="col-md-6">
        <h4>Social media</h4>
        {% include socialbuttons.html %}
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row">

    <div class="col-md-6">
      {{page.watisfri3d}}
    </div>

    <div class="col-md-6">
      {% include carousel2016.html %}
    </div>

  </div>


  {{page.sponsors}}

</div> <!-- /container -->

{% include pagefooter.html %}
{% include javascript.html %}
{% include footer.html %}
