{% include header.html %}
    <div class="jumbotron">
      <div class="container page">
        <div class="info">          
          <div class="info-name">F<span style="letter-spacing: -5px;">r</span>i<span style="letter-spacing: -3px;">3d</span><br>C<span style="letter-spacing: -3px;">a</span><span style="letter-spacing: -8px;">mp</span></div><div class="info-year">2016</div>
          <div class="info-when">13 tem. 15 augustus</div>
          <div class="info-where">Hoge Rielen (Kasterlee, België)</div>
        </div>
        <div class="logo" align="center">{% include logo.html %}</div>
        <h1>{{page.title}}</h1>
        <h2>{{page.tagline}}</h2>
      </div>
    </div>
      
    <div class="container">
      {{content}}
    </div>

{% include pagefooter.html %}
{% include javascript.html %}  
{% include footer.html %}
