{% include header.html %}
    <div class="jumbotron">
      <header class="container">
          <a href="/" class="pull-right promo">
              <img src="/images/site_promobutton.png" alt="13-15 augustus 2016, Hoge Rielen, Kasterlee, België" />
          </a>
        <h1>{{page.title}}</h1>
        <h2>{{page.tagline}}</h2>
      </header>
    </div>

    <div class="container">
      {{content}}
    </div>

{% include pagefooter.html %}
{% include javascript.html %}
{% include footer.html %}
