@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat/montserrat-ultralight-webfont.eot');
    src: url('../fonts/montserrat/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import "bootstrap/less/bootstrap.less";
@import "schedule.less";

// breakpoints
@bp-logo: 460px;

#mainlogo {
    width:420px;
    height:190px;
    font-size:80px;
    position: relative;
    line-height: 70px;
    margin-bottom: 20px;
    font-family: "montserratultra_light";
    text-align: center;
    @media screen and (max-width:@bp-logo) {
        width:300px;
        height:150px;
        font-size: 55px;
        line-height: 50px;
    }
}
.logo-fox {
    position: absolute;
    left:0;
    width:150px;
    height:150px;
    @media screen and (max-width:@bp-logo) {
        width:107px;
        height:107px;
    }
}
.logo-name {
    text-transform: uppercase;
    position: absolute;
    left:170px;
    width:250px;
    text-align: left;
    @media screen and (max-width:@bp-logo) {
        left:120px;
        width:170px;
    }
}
.logo-year {
    color:@brand-primary;
    font-size: 40%;
    top:130px;
    position: absolute;
    left:170px;
    @media screen and (max-width:@bp-logo) {
        top:120px;
        left:120px;
    }
}
.cclicense {
    margin-right: 15px;
}
.carousel-inner>.item>img {
    width: 100%;
    vertical-align: middle;
}
.socialbuttons {
    margin-top: 15px;
}
a.icon {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}