@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat/montserrat-ultralight-webfont.eot');
    src: url('../fonts/montserrat/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import "bootstrap/less/bootstrap.less";
@import "schedule.less";

// breakpoints
@bp-logo: 460px;

#mainlogo {
    width:420px;
    height:190px;
    font-size:80px;
    position: relative;
    line-height: 70px;
    margin-bottom: 20px;
    font-family: "montserratultra_light";
    text-align: center;
    @media screen and (max-width:@bp-logo) {
        width:300px;
        height:150px;
        font-size: 55px;
        line-height: 50px;
    }
}

DIV.page DIV.logo {
    float: left;
    display: block-inline;
    position: relative;
    width:150px;
    height:150px;
    font-size:80px;
    line-height: 70px;
    margin-bottom: 20px;
    font-family: "montserratultra_light";
    @media screen and (max-width:@bp-logo) {
        width:300px;
        height:150px;
        font-size: 55px;
        line-height: 50px;
    }
}

DIV.page H1 {
   position: relative;
   top: 18px;
   left: 10px;
}

DIV.page H2 {
   position: relative;
   left: 15px;
}

DIV.page DIV.info {
  display: block-inline;
  float: right;
  width:220px;
  height:200px;
}

DIV.page DIV.info-name {
    font-family: "montserratultra_light";
    text-transform: uppercase;
    text-align: center;
    font-size:40px;
    line-height: 35px;
}

DIV.page DIV.info-year {
    font-family: "montserratultra_light";
    color:@brand-primary;
    text-align: center;
    font-size:40px;
    line-height: 35px;
}

DIV.page DIV.info-when {
    text-align: center;
    border-top: 1px solid white;
    margin-top: 5px;
    padding-top: 5px;
}

DIV.page DIV.info-where {
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.logo-fox {
    position: absolute;
    left:0;
    width:150px;
    height:150px;
    @media screen and (max-width:@bp-logo) {
        width:107px;
        height:107px;
    }
}

.logo-name {
    text-transform: uppercase;
    position: absolute;
    left:170px;
    width:250px;
    text-align: left;
    @media screen and (max-width:@bp-logo) {
        left:120px;
        width:170px;
    }
}
.logo-year {
    color:@brand-primary;
    font-size: 40%;
    top:130px;
    position: absolute;
    left:170px;
    @media screen and (max-width:@bp-logo) {
        top:90px;
        left:120px;
    }
}
.cclicense {
    margin-left: 15px;
}
.carousel-inner>.item>img {
    width: 100%;
    vertical-align: middle;
}
.socialbuttons {
    margin-top: 15px;
}
.well-fri3d {
    background-color: transparent;
    border-radius: 0;
    border-color:white;
    border-left:0;
    border-right: 0;
}
a.icon {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.footer-fri3d {
    padding-top:20px;
    padding-bottom: 20px;
    background-color: @gray-darker;
    color:@gray-lighter;
    a {
        color:@brand-secondary-light;
    }
    .logo-fox {
        width: 30px;
        height:30px;
        position: relative;
        path {
            fill:@gray-lighter;
            stroke:@gray-lighter;
            stroke-width:2px;
        }
        line {
            stroke:@gray-lighter;
        }
        vertical-align: middle;
    }
}
.footerlogo {
    font-family: "montserratultra_light";
    text-transform: uppercase;
}
// logo lines
path.logoline-A {
    fill:@brand-primary;
}
line.logoline-A {
    stroke: @brand-primary;
}
path.logoline-B {
    fill:@brand-secondary;
}
line.logoline-B {
    stroke: @brand-secondary;
}